
@{
    ViewBag.Title = "Index";
}

<div class="card z-depth-3">
    <div class="card-content">
        <div class="card-title">SignalR Persistent</div>
        <div class="card-title">Md Rashedul Islam</div>
    </div>
</div>
